<%- layout('./layouts/main') %>
<h1>Your Orders</h1>
<% if (orders.length > 0) { %> <% orders.forEach(o => { %>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          Order ID: <%= o._id %>
        </span>
        <p class="date">Date: <%= o.date %></p>
        <p>
          User: <em><b><%= o.user.name %></b></em>
          (<%= o.user.email %>)
        </p>

        <ol>
          <% o.courses.forEach(c => { %>
          <li>
            <%= c.course.title %> - (x<%= c.count %>)
          </li>
          <% }) %>
        </ol>

        <hr />

        <p>Price: <span class="price"><%= o.price %></span></p>
      </div>
    </div>
  </div>
</div>
<% }) %> <% }else{ %>
<p>No Orders</p>
<% } %>
